@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<p>This page is all about me</p>
<p>My Name is Humayoun Kabir. email:humayounkabir30@gmail.com, github:https://github.com/humayoun007</p>
